%tr{class: "couple_row couple_row_#{couple.number}"}
  %td.couple_number_col= couple.number
  %td.couple_leader_col
    %span.lead_name= couple.lead.name
    %span.lead_team= '(' + couple.lead.team.name + ')'
  %td.couple_follower_col
    %span.follow_name= couple.follow.name
    %span.follow_team= '(' + couple.follow.team.name + ')'

  %td{class: placement_cell_classes}= format_placement_cell(couple, event)
  %td.total_placements_col.data_cell= format_total_placements_cell(couple)
  - event.sub_events.each do |se|
    %td{class: placement_cell_classes(se.dance)}= format_placement_cell(couple, se)
  %td{class: rule_cell_classes(couple, event)}= format_rule_cell(couple, event)
