%p#notice= notice

%p
  %b Lead:
  = @couple.lead_id
%p
  %b Follow:
  = @couple.follow_id
%p
  %b Event:
  = @couple.event_id
%p
  %b Number:
  = @couple.number

= link_to 'Edit', edit_couple_path(@couple)
\|
= link_to 'Back', couples_path
