%h1 Listing marks

%table
  %tr
    %th Adjudicator
    %th Round
    %th Couple
    %th Placement
    %th
    %th
    %th

  - @marks.each do |mark|
    %tr
      %td= mark.adjudicator_id
      %td= mark.round_id
      %td= mark.couple_id
      %td= mark.placement
      %td= link_to 'Show', mark
      %td= link_to 'Edit', edit_mark_path(mark)
      %td= link_to 'Destroy', mark, data: {confirm: 'Are you sure?' }, method: :delete

%br

= link_to 'New Mark', new_mark_path
