%p#notice= notice

%p
  %b Adjudicator:
  = @mark.adjudicator_id
%p
  %b Round:
  = @mark.round_id
%p
  %b Couple:
  = @mark.couple_id
%p
  %b Placement:
  = @mark.placement

= link_to 'Edit', edit_mark_path(@mark)
\|
= link_to 'Back', marks_path
