%p#notice= notice

%p
  %b Name:
  = @competition.name
%p
  %b Start date:
  = @competition.start_date
%p
  %b End date:
  = @competition.end_date
%p
  %b Team:
  = @competition.team_id

%h3 Events
%ol.events_list
  - cache(@competition) do
    - @competition.events.each do |event|
      %li= link_to(build_title(event), event)

= link_to 'Back', competitions_path
