= form_for @round, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :event_id, :class => 'control-label'
    .controls
      = f.text_field :event_id, :class => 'text_field'
  .control-group
    = f.label :number, :class => 'control-label'
    .controls
      = f.text_field :number, :class => 'text_field'
  .control-group
    = f.label :final, :class => 'control-label'
    .controls
      = f.text_field :final, :class => 'text_field'
  .control-group
    = f.label :requested, :class => 'control-label'
    .controls
      = f.text_field :requested, :class => 'text_field'
  .control-group
    = f.label :cutoff, :class => 'control-label'
    .controls
      = f.text_field :cutoff, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), rounds_path, :class => 'btn'
