- cache(round) do
  %div.table-responsive[round, :wrapper]
    %h3.round_title= t '.title', number: round.number
    %table.table-striped.table-bordered.table-hover{class: round_table_classes(round),
                                                    id: round_table_id(round)}
      %thead
        %tr.header_row_first
          %th.couple_number_col{rowspan: 2}= t 'couples.number'
          %th.couple_leader_col{rowspan: 2}= t 'couples.leader'
          %th.couple_follower_col{rowspan: 2}= t 'couples.follower'
          - round.sub_rounds.each do |sr|
            %th.colspanning{colspan: round_header_colspan(round),
                class: dance_to_class_name(sr.sub_event.dance)}<
              = sr.sub_event.dance.base_name
          %th.recalled_col{rowspan: 2}

        %tr.header_row_judges
          - round.sub_rounds.each do |sr|
            = render partial: 'adjudicators/adjudicator_header',
              collection: round.adjudicators,
              as: :adjudicator,
              locals: { sub_round: sr }
      %tbody
        = render partial: 'couples/couple',
          collection: round.couples,
          layout: 'couples/couple_row',
          locals: { round: round }
