- model_class = Round
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:event_id)
      %th= model_class.human_attribute_name(:number)
      %th= model_class.human_attribute_name(:final)
      %th= model_class.human_attribute_name(:requested)
      %th= model_class.human_attribute_name(:cutoff)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @rounds.each do |round|
      %tr
        %td= link_to round.id, round_path(round)
        %td= round.event_id
        %td= round.number
        %td= round.final
        %td= round.requested
        %td= round.cutoff
        %td=l round.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_round_path(round), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), round_path(round), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_round_path, :class => 'btn btn-primary'
