%h1 Listing rounds

%table
  %tr
    %th Event
    %th Number
    %th Final
    %th Requested
    %th Cutoff
    %th
    %th
    %th

  - @rounds.each do |round|
    %tr
      %td= round.event_id
      %td= round.number
      %td= round.final
      %td= round.requested
      %td= round.cutoff
      %td= link_to 'Show', round
      %td= link_to 'Edit', edit_round_path(round)
      %td= link_to 'Destroy', round, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Round', new_round_path
