%p#notice= notice

%p
  %b Event:
  = @round.event_id
%p
  %b Number:
  = @round.number
%p
  %b Final:
  = @round.final
%p
  %b Requested:
  = @round.requested
%p
  %b Cutoff:
  = @round.cutoff

= link_to 'Edit', edit_round_path(@round)
\|
= link_to 'Back', rounds_path
