%p#notice= notice

%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Team:
  = @user.team_id

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
