%table.table-striped.table-bordered.table-hover{class: event_summary_table_classes,
                                                id: event_summary_table_id}
  %thead
    %tr.header_row_first
      %th.couple_number_col{rowspan: 2}= t 'couples.number'
      %th.couple_leader_col{rowspan: 2}= t 'couples.leader'
      %th.couple_follower_col{rowspan: 2}= t 'couples.follower'
      %th.placement_col{rowspan: 2}
        %div{data: {title: t('.placement')}}
          %i.fa.fa-trophy
      %th.total_placements_col{rowspan: 2}= t('.total')
      %th.colspanning.dances_group{colspan: event.sub_events.count}
        = t('.dances')
      %th.rule_col{rowspan: 2}= t('.rule')

    %tr.header_row_dances
      - event.dances.each do |dance|
        %th{class: dance_to_class_name(dance)}
          = dance.base_name

  %tbody
    = render partial: 'couples/final_summary',
      collection: event.final_round.couples,
      as: :couple,
      layout: 'couples/couple_row',
      locals: { event: event }
