- model_class = Event
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:competition_id)
      %th= model_class.human_attribute_name(:level_id)
      %th= model_class.human_attribute_name(:number)
      %th= model_class.human_attribute_name(:created_at)

  %tbody
    - @events.each do |event|
      %tr
        %td= link_to(build_title(event), event)
        %td= link_to event.id, event_path(event)
        %td= event.competition_id
        %td= event.level_id
        %td= event.number
        %td=l event.created_at
