= form_for @dance do |f|
  -if @dance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dance.errors.count, "error")} prohibited this dance from being saved:"
      %ul
        - @dance.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :section_id
    = f.number_field :section_id
  .actions
    = f.submit 'Save'
