%h1 Listing adjudicators

%table
  %tr
    %th User
    %th Competition
    %th Shorthand
    %th
    %th
    %th

  - @adjudicators.each do |adjudicator|
    %tr
      %td= adjudicator.user_id
      %td= adjudicator.competition_id
      %td= adjudicator.shorthand
      %td= link_to 'Show', adjudicator
      %td= link_to 'Edit', edit_adjudicator_path(adjudicator)
      %td= link_to 'Destroy', adjudicator, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Adjudicator', new_adjudicator_path
