%p#notice= notice

%p
  %b User:
  = @adjudicator.user_id
%p
  %b Competition:
  = @adjudicator.competition_id
%p
  %b Shorthand:
  = @adjudicator.shorthand

= link_to 'Edit', edit_adjudicator_path(@adjudicator)
\|
= link_to 'Back', adjudicators_path
