%h1 Listing levels

%table
  %tr
    %th Name
    %th Weight
    %th
    %th
    %th

  - @levels.each do |level|
    %tr
      %td= level.name
      %td= level.weight
      %td= link_to 'Show', level
      %td= link_to 'Edit', edit_level_path(level)
      %td= link_to 'Destroy', level, data: {confirm: 'Are you sure?' }, method: :delete

%br

= link_to 'New Level', new_level_path
